.ant-empty {
  padding: 10px;
  background-color: var(--white);
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  .ant-empty-description {
    font-size: 21px;
    font-weight: 700;
    color: var(--text-grey);
  }
}
