.create-parent {
  height: 500px;
  width: 740px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 30px;
  .left-create {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    ul {
      padding: unset;
    }
  }
  .right-create {
    .add-button {
      color: var(--white);
      padding: 26px 23px;
      background-color: var(--green);
      font-weight: 500;
      font-size: 19px;
      border-radius: 8px;
      line-height: 0px;
    }
    .ant-input {
      margin-top: 10px;
      width: 236px;
      height: 49px;
      border-radius: 9px;
    }
  }
}
