@import "~antd/dist/antd.css";
:root {
  /* Colors: */
  --black: #0d173a;
  --yellow: #f6e200;
  --white: #ffffff;
  --grey: #646464;
  --dark-grey: #676565;
  --light-grey: #8c8c8c;
  --green: #44BB4C;
  --text-grey: #474747;
  --bg-grey: #F2F2F2;
}
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
