.basic-component {
  .bottom-part {
    padding: 26px;
    height: calc(100vh - 110px);

    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#a7a8ae 0.8px, #e5e5f7 0.8px);
    background-size: 16px 16px;
  }
}
